@import "./source/sass/variables";
@import "./source/sass/mixin";

.category_container__wrapper{
    width: $width-main;
    margin: 100px auto 0 auto;

    .category__container{
        width: $width-basic;
        height: 542px;
        margin: 0 auto;

        #category__heading{
            font-size: $heading-basic;
            margin-bottom: 50px;
        }
        .card__container{
            width: $width-basic;
            @include flex-row-sb;
            position: relative;

            #card__next_btn{
                width: 40px;
                height: 40px;
                background-color: $gold;
                position: absolute;
                top:50%;
                right: 2%;
            }

            .card{
                @include flex-col;
                width: fit-content;
                position: relative;

                .card__image{
                    width: $width-img;
                    height: $height-img;
                    cursor: pointer;
                }
                .card-btn{
                    position: absolute;
                    bottom: 0;
                    left:0;
                    background-color: $btn-card-color;
                    height: 40px;
                    width: $width-img;
                    text-align: center;
                    border: none;
                    color: $white;
                    cursor: pointer;

                    &:hover{
                        background-color: $hover-btn-card-color;
                        box-shadow: 0px 5px 7px 0px rgba(37, 37, 37, 0.15);
                        
                    }
                }
            }

        }

    }
}


// Subscribe

.subscribe_container__wrapper{
    width:$width-main;
    margin: 0 auto;
    margin-bottom: 100px;

    .subscribe__container{
        margin: 100px auto 0 auto;
        width: 600px;
        height: 270px;


    .agreement__block{
        margin-top: 20px;
        .agreement__text{
            font-weight: 200;
            text-align: center;
            font-size: $basic-text;
        }
    }

        .subscribe__form{
            @include flex-col;
            margin: 0 auto;
            text-align: center;

            .category__heading{
                margin-bottom: 50px;
            }

            #subscribe__input{
                width: $btn-basic-w;
                height: $btn-basic-h;
                padding: 16px 81px 17px 81px;
                text-align: center;
                border: 0.5px solid $inp-border-color;
                font-size: $basic-text
            }

            .subscribe__btn{
                margin-top: 20px;
                width: $btn-basic-w;
                height: $btn-basic-h;
                padding: 16px 81px 17px 81px;
                background-color: $gold;
                color: $white;
                text-transform: uppercase;
                border: 0px;
                cursor: pointer;

                &:hover{
                    background: $hover-btn-card-color;
                    box-shadow: 0px 5px 7px 0px rgba(37, 37, 37, 0.15);
                }
            }
        }
    }
}