$basic-font: 'Raleway', sans-serif;
$basic-weight: 300;
$black: #252525;
$white: #fff;
$gold: #E0BEA2;
$navbar-text: 18px;
$basic-text: 16px;
$heading-main: 46px;
$heading-basic: 36px;
$width-basic: 1140px;
$width-main: 1440px;
$height-main: 900px;
$height-navbar: 40px;

// card image
$width-img: 274px;
$height-img: 450px;
$btn-card-color: #E0BEA2BF;
