// fonts
$basic-font: 'Raleway', sans-serif;
$basic-weight: 300;
$black: #252525;
$white: #fff;
$gold: #E0BEA2;
$hover-footer: rgba(37, 37, 37, 1);


// elements colors
$btn-card-color: #E0BEA2BF;
$hover-btn-card-color: hsla(27, 50%, 76%, 1);
$inp-border-color:hsla(0, 0%, 15%, 0.5);
$circle-wh: white;
$circle-bl: hsla(217, 23%, 54%, 1);
$circle-be: hsla(43, 72%, 81%, 1);



// text px
$navbar-text: 18px;
$basic-text: 16px;
$heading-main: 46px;
$heading-basic: 36px;
$heading-footer: 20px;
$size-text-right: 14px;

// width height
$width-basic: 1140px;
$width-main: 1440px;
$height-main: 900px;
$height-navbar: 40px;
$height-con-navbar: 100px;

// card image
$width-img: 274px;
$height-img: 450px;


// button
$btn-basic-w:600px;
$btn-basic-h:50px;


//catalog margin card text
$margin-top: 5px; 